/* css/style.css */

/* Custom utility classes */
.hidden { display: none !important; }
.text-xxs { font-size: 0.65rem; }

summary::-webkit-details-marker {  display: none;  }  /* Hide the default Safari accordion triangle */
summary {  list-style: none;  }  /* Fail-safe to ensure the list-style is removed across all browsers */

/* Disable text selection globally */
body {
  -webkit-user-select: none;   /* Safari */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* Standard */
  -webkit-touch-callout: none; /* Disable iOS long-press callouts */
  touch-action: manipulation;  /* Disable double-tap-to-zoom while preserving standard scrolling */
}

/* EXCEPTION: Allow selection & pasting in input boxes */
input, #manual-url-input {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* SWIPE-TO-DELETE GESTURE STYLES */
.swipe-content {
  /* Uses a highly polished spring curve to emulate iOS/Android system mechanics */
  transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform;
}

/* CUSTOM HORIZONTAL BOUNCE ANIMATION */
@keyframes horizontal-bounce {
  0%, 100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(5px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-horizontal-bounce {
  animation: horizontal-bounce 1s infinite;
}
